{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
  <section class="hero is-medium is-dark">
            <div class="hero-body ">
                <p class="title is-1">Abril/2024</p>
                <div class="columns">
                    <div class="column"> 
                        <p class="title is-3">Gastos</p>
                        <p class="subtitle is-3 danger">R$ 0.00</p>
                    </div>
                    <div class="column"> 
                        <p class="title is-3">Diniero disponible</p>
                        <p class="subtitle is-3 success">R$ 0.00</p>
                    </div>                   
                </div>                       
            </div>

          </section>
         
          <section class="container ct" >
            <div class="fixed-grid has-3-cols 	">
                <div class="grid">
                  
                  <div class="cell">
                      <div class="card shadow">
                          <div class="card-content">
                            <p class="title is-5">
                            vanco 
                            </p>
                            <p class="subtitle is-7">pendejadas</p>
                          </div>
                          <footer class="card-footer">
                            <p class="card-footer-item">
                              <span class="subtitle is-7">02/05/2025</span>
                            </p>
                            <p class="card-footer-item">
                              <span> 1.000,20 </span>
                            </p>
                          </footer>
                        </div>

                        
                      
                      </div>
                      
                      <div class="cell">
                        <div class="card">
                            <div class="card-content">
                              <p class="title is-5">
                              vanco 
                              </p>
                              <p class="subtitle is-7">pendejadas</p>
                            </div>
                            <footer class="card-footer">
                              <p class="card-footer-item">
                                <span class="subtitle is-7">02/05/2025</span>
                              </p>
                              <p class="card-footer-item">
                                <span> 1.000,20 </span>
                              </p>
                            </footer>
                          </div>
  
                          
                        
                        </div>
                        
                        <div class="cell">
                          <div class="card">
                              <div class="card-content">
                                <p class="title is-5">
                                vanco 
                                </p>
                                <p class="subtitle is-7">pendejadas</p>
                              </div>
                              <footer class="card-footer">
                                <p class="card-footer-item">
                                  <span class="subtitle is-7">02/05/2025</span>
                                </p>
                                <p class="card-footer-item">
                                  <span> 1.000,20 </span>
                                </p>
                              </footer>
                            </div>
    
                            
                          
                          </div>

                          <div class="cell">
                            <div class="card">
                                <div class="card-content">
                                  <p class="title is-5">
                                  vanco 
                                  </p>
                                  <p class="subtitle is-7">pendejadas</p>
                                </div>
                                <footer class="card-footer">
                                  <p class="card-footer-item">
                                    <span class="subtitle is-7">02/05/2025</span>
                                  </p>
                                  <p class="card-footer-item">
                                    <span> 1.000,20 </span>
                                  </p>
                                </footer>
                              </div>
      
                              
                            
                            </div>

                            <div class="cell">
                              <div class="card">
                                  <div class="card-content">
                                    <p class="title is-5">
                                    vanco 
                                    </p>
                                    <p class="subtitle is-7">pendejadas</p>
                                  </div>
                                  <footer class="card-footer">
                                    <p class="card-footer-item">
                                      <span class="subtitle is-7">02/05/2025</span>
                                    </p>
                                    <p class="card-footer-item">
                                      <span> 1.000,20 </span>
                                    </p>
                                  </footer>
                                </div>
        
                                
                              
                              </div>
       
                 </div>
           </div>
            
          </section>
{% endblock %}
