{% extends "base.html" %}
{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}

<div class="container has-text-centered" style="height: 90vh; display: flex; align-items: center; justify-content: center;">
    <div>
        <h2>Confirmar Eliminación</h2>
        <p>¿Estás seguro de que deseas eliminar el gasto de {{ gasto.cantidad }} en {{ gasto.categoria }}?</p>
        
        <form method="POST" style="margin-top: 20px;"> <!-- Espacio entre el texto y los botones -->
            {% csrf_token %}
            <button type="submit" class="button is-danger">Eliminar</button>
            <a href="{% url 'listar_gastos' %}" class="button">Cancelar</a>
        </form>
    </div>
</div>



{% endblock %}
